<style>
    .fs-xxl {
        font-size: 12rem;
    }

    .fs-xl {
        font-size: 4rem;
    }

    .my-10 {
        margin-top: 3.0rem;
        margin-bottom: 3.0rem;
    }
</style>
<div class="w-100 my-10">
    <div class="d-flex justify-content-center align-items-center my-10">
        <div>
            <p class="text-center my-10"><i class="fa fa-lock fs-xxl"></i></p>
            <p class="text-center fs-xl">403 Forbidden</p>
            <h1 class="text-center">Sorry, you cannot access this page.</h1>
        </div>
    </div>
</div>