<style>
    .static-body {
        border-radius: 6px;
        box-shadow: 2px 2px 4px #00000020;
        transition: all 200ms ease-out;
    }

    .static-body:hover {
        box-shadow: 4px 4px 8px #00000040;
        transition: all 200ms ease-out;
        background-color: #FFFFFF90 !important;
    }

    .static-mark {
        border-radius: 5px;
        box-shadow: 2px 2px 7px #00000020;
        transition: all 200ms ease-out;
    }

    .p-1px {
        padding: 1px !important;
    }

    .p-2px {
        padding: 2px !important;
    }

    .p-5px {
        padding: 5px !important;
    }

    .p-10px {
        padding: 10px !important;
    }

    .p-15px {
        padding: 15px !important;
    }

    .p-20px {
        padding: 20px !important;
    }

    .p-50px {
        padding: 50px !important;
    }

    .px-20px {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .py-20px {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    .fs-1 {
        font-size: 36px !important;
    }

    .fs-2 {
        font-size: 32px !important;
    }

    .fs-3 {
        font-size: 28px !important;
    }

    .fs-4 {
        font-size: 24px !important;
    }

    .fs-5 {
        font-size: 20px !important;
    }

    .fs-6 {
        font-size: 16px !important;
    }

    .fs-7 {
        font-size: 12px !important;
    }

    .round-5px {
        border: 1px solid #00000000;
        border-radius: 5px;
    }

    .split-line {
        height: 1px;
        background-color: gray;
    }

    .m-0 {
        margin: 0px;
    }

    .control-label {
        width: auto;
        min-width: 120px;
        margin: 0px;
        display: flex;
        justify-content: end;
        padding-right: 5px;
    }

    .control-date {
        max-width: 150px;
    }

    #contact_history_modal .modal-body {
        max-height: 500px;
        overflow-y: auto;
        scrollbar-width: thin;
    }
</style>
<div class="row my-3 px-10 bg-white border rounded">
    <div class="col-12 d-flex justify-content-between align-items-center my-5">
        <h3>Payment</h3>
    </div>
</div>
<div class="row mb-5">
    <div class="col-md-3">
        <div data="0" class="w-100 h-120px bg-white static-body cursor-pointer">
            <div class="p-20px w-100 d-flex justify-content-between">
                <span class="d-inline-block round-5px">
                    <i class="p-15px fs-3 fa flaticon2-delivery-package text-primary bg-light-primary static-mark"></i>
                </span>
                <span class="d-inline-block p-2px">
                    <h4 class="d-flex justify-content-end text-black">SERVICES</h4>
                    <span id="payment_services"
                        class="d-flex justify-content-end text-primary fs-5 cursor-pointer stt-number">1
                    </span>
                </span>
            </div>
            <div class="px-20px">
                <hr class="m-0">
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div data="1" class="w-100 h-120px bg-white static-body">
            <div class="p-20px w-100 d-flex justify-content-between cursor-pointer">
                <span class="d-inline-block round-5px">
                    <i class="p-15px fs-3 fa fa-globe text-danger bg-light-danger static-mark"></i>
                </span>
                <span class="d-inline-block p-2px">
                    <h4 class="d-flex justify-content-end text-black">DOMAINS</h4>
                    <span id="payment_domains"
                        class="d-flex justify-content-end text-danger fs-5 cursor-pointer stt-number">1
                    </span>
                </span>
            </div>
            <div class="px-20px">
                <hr class="m-0">
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div data="2" class="w-100 h-120px bg-white static-body">
            <div class="p-20px w-100 d-flex justify-content-between cursor-pointer">
                <span class="d-inline-block round-5px">
                    <i class="p-15px fs-3 la la-sms text-success bg-light-success static-mark"></i>
                </span>
                <span class="d-inline-block p-2px">
                    <h4 class="d-flex justify-content-end text-black">TICKETS</h4>
                    <span id="payment_tickets"
                        class="d-flex justify-content-end text-success fs-5 cursor-pointer stt-number">5
                    </span>
                </span>
            </div>
            <div class="px-20px">
                <hr class="m-0">
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div data="3" class="w-100 h-120px bg-white static-body">
            <div class="p-20px w-100 d-flex justify-content-between cursor-pointer">
                <span class="d-inline-block round-2px">
                    <i class="p-15px fs-3 fa fa-money-check text-primary bg-light-primary static-mark"></i>
                </span>
                <span class="d-inline-block p-2px">
                    <h4 class="d-flex justify-content-end text-black">INVOICES</h4>
                    <span id="payment_invoices"
                        class="d-flex justify-content-end text-primary fs-5 cursor-pointer stt-number">1
                    </span>
                </span>
            </div>
            <div class="px-20px">
                <hr class="m-0">
            </div>
        </div>
    </div>
</div>